CT_PROJECT_KEY=
CT_CLIENT_ID=
CT_CLIENT_SECRET=
CT_AUTH_URL=https://auth.australia-southeast1.gcp.commercetools.com
CT_API_URL=https://api.australia-southeast1.gcp.commercetools.com

## MM2

CTP_PROJECT_KEY=mergemates
CTP_CLIENT_SECRET=FkhY5qVk6Qk2sar3CD_CmCJE-F-V5lcK
CTP_CLIENT_ID=4RGYbxNx06XWyKo5mFLosMQ5
CTP_AUTH_URL=https://auth.australia-southeast1.gcp.commercetools.com
CTP_API_URL=https://api.australia-southeast1.gcp.commercetools.com
CTP_SCOPES=view_published_products:mergemates view_categories:mergemates manage_my_payments:mergemates create_anonymous_token:mergemates manage_my_quote_requests:mergemates manage_my_orders:mergemates manage_my_shopping_lists:mergemates manage_my_business_units:mergemates manage_my_profile:mergemates manage_my_quotes:mergemates

## MM_ADMIN

CTP_PROJECT_KEY=mergemates
CTP_CLIENT_SECRET=WYfOviHMQFxXFNtWurOwi_wBkZKTUHvp
CTP_CLIENT_ID=dZnENdU2BB32IKq7Bc_0AlsW
CTP_AUTH_URL=https://auth.australia-southeast1.gcp.commercetools.com
CTP_API_URL=https://api.australia-southeast1.gcp.commercetools.com
CTP_SCOPES=manage_project:mergemates
